.footer {
  width: 100%;
  height: 80px;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #333;
  position: relative;
  bottom: 0;
}

.footer p {
  color: #888;
  font-size: 14px;
  margin: 5px 0;
}