.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  color: #e0e0e0;
}